
.speech{

    font-family:'Courier New', Courier, monospace; ;font-size: 20px;
color: black;
}


.stage-direction:hover{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color:darkblue;
    background-color: coral;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color:darkcyan;
}
.illingworth{
    color:coral;
}
.hunstanton{
    color:crimson
}
.arbuthnot{
    color:darkmagenta;
}
.caroline{
    color:darkorchid;
}
.allonby{
    color:deeppink;
}